#scrollingTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #a4a4a4;
  opacity: .2;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
}

#scrollingTopBtn:hover {
  background-color: #555;
}
